/*
*= require_tree .
*/
@import "bootstrap";
@import 'font-awesome';

.header {
//  margin-left: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 46px;
  position: fixed;
  text-align: right;
  z-index: 1;
  //margin-right: auto;
  background-color: #58ACFA;
}
.content {
}
img {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 3%;
  min-height: 3%;
}

.right-down-menu {
  position: fixed;
  right: 10px;
  bottom: 20px;
}

.fa-color-normal:before
{
  color:#f08080;
  opacity: 0.5
}

.fa-color-selected:before
{
  color:#f08080;
}
