/*
*= require_tree .
*/
@import "bootstrap";
@import 'font-awesome.css';

.header {
//  margin-left: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 46px;
  position: fixed;
  text-align: right;
  //margin-right: auto;
  background-color: #58ACFA;
}
.content {
}
img {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 3%;
  min-height: 3%;
}
