// Place all the styles related to the show_list controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
video {
  position: fixed;
  right: 0;
  bottom: 20;
  min-width: 100%;
  min-height: 80%;
  width: auto;
  height: auto;
  z-index: 1;
}

.main-movie {
  position: fixed;
  z-index: 2;
  text-align:center;
  width:20%;
  padding:10px;
  margin: 0 auto;
//  margin-top: 0px;
  background-color:#fff;
  color: #888;
  top:calc(40%);
  left:calc(40%);
  opacity: 0.8;
}
