<div class="right-down-menu">
  <%= link_to 'リスト登録', show_list_new_path, remote: true, class: "btn btn-lg btn-danger" %>
  <br>
  <%= link_to 'ダウンロード', show_list_download_path(format: :csv), class: "btn btn-lg btn-info" %>
</div>
<div id="create-user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<table class="table">
  <thead class="table-warning">
    <tr>
      <th>#</th>
      <th>欲しいもの</th>
      <th>URL</th>
      <th>ひとこと</th>
      <th>欲しい！</th>
    </tr>
  </thead>
  <tbody id="like-buttons" class="">
    <%= render :partial => "/show_list/contents", locals: {wantlists: @wantlists} %>
  </tbody>
</table>
