<h1>景品として欲しいものリスト</h1>
<a class="btn btn-primary" href="#" role="button">Link</a>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>名前</th>
      <th>欲しいもの</th>
      <th>URL</th>
      <th>ひとこと</th>
    </tr>
  </thead>
  <tbody class="table-info">
    <tr>
      <th scope="row">1</th>
      <td>キザル</td>
      <td>メガネ</td>
      <td>http://kizaru.com</td>
      <td>キミは座ってるだけでいいよ。</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>ジーコ</td>
      <td>日焼けサロンの券</td>
      <td>http://ziko.com</td>
      <td>バカっているなバカっ！</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>マシリト</td>
      <td>物忘れ予防グッズ</td>
      <td>http://mashirito.com</td>
      <td>いいんだよ。全員に電話すれば。</td>
    </tr>
  </tbody>
</table>
